 project:
   type: website

 website:
   title: "test-quarto-site"
   navbar:
     left:
       - href: index.qmd
         text: Home
       - about.qmd

 format:
   html:
     theme:
       light: flatly
       dark: darkly
     # css: styles.css
     toc: true
     respect-user-color-scheme: true

 editor: visual